doc
pcre/.deps
pcre/.libs
pcre/Makefile
pcre/config.h
pcre/config.log
pcre/config.status
pcre/libpcre.la
pcre/libpcre.pc
pcre/libpcrecpp.pc
pcre/libpcreposix.la
pcre/libtool
pcre/pcre-config
pcre/pcre.h
pcre/pcre_chartables.c
pcre/pcre_chartables.lo
pcre/pcre_compile.lo
pcre/pcre_config.lo
pcre/pcre_dfa_exec.lo
pcre/pcre_exec.lo
pcre/pcre_fullinfo.lo
pcre/pcre_get.lo
pcre/pcre_globals.lo
pcre/pcre_info.lo
pcre/pcre_maketables.lo
pcre/pcre_newline.lo
pcre/pcre_ord2utf8.lo
pcre/pcre_refcount.lo
pcre/pcre_stringpiece.h
pcre/pcre_study.lo
pcre/pcre_tables.lo
pcre/pcre_try_flipped.lo
pcre/pcre_ucd.lo
pcre/pcre_valid_utf8.lo
pcre/pcre_version.lo
pcre/pcre_xclass.lo
pcre/pcrecpparg.h
pcre/pcregrep
pcre/pcreposix.lo
pcre/pcretest
pcre/stamp-h1
pcre/autom4te.cache
